/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 10px;
  padding: 0;
}

.userInfo {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userInfo a {
  text-decoration: none;
  color: rgb(30, 33, 34);
}

.userInfo .user p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.userInfo .botones {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.userInfo .botones button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #929aa2;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.userInfo .botones button:hover {
  color: white;
  background-color: #63696f;
}

h1 {
  margin-bottom: 20px;
}

/* Estilos generales para las categorías */
.categories {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
}

.categories p {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
}

/* Estilos para los enlaces dentro de las categorías */
.categories a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: rgb(160, 153, 153);
  border-radius: 4px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.categories a:hover {
  background-color: #38352d;
  color: #fff;
}

.categories a:active {
  background-color: #b30000;
  color: #b41919;
}

.table_display {
  width: 100%;
  border-collapse: collapse;
  margin-top: 80px;
}

.table_display th,
.table_display td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table_display th {
  background-color: #f2f2f2;
}

.table_display td {
  vertical-align: top;
}

.pagination {
  margin-top: 20px;
}

.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: rgb(160, 153, 153);
  color: #000000;
  border-radius: 5px;
  border: 1px solid black;
}

.pagination a:hover {
  background-color: #38352d;
  color: #ffffff;
}

.add-to-cart {
  background-color: rgb(160, 153, 153);
  color: #000000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}

.add-to-cart:hover {
  background-color: #38352d;
  color: #fff;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: rgb(160, 153, 153);
  border-radius: 4px;
  transition:
    background-color 0.3s,
    color 0.3s;
  margin-right: 20px;
}

.menu a:hover {
  background-color: #38352d;
  color: #fff;
}
