<h2>Cambiar Contraseña</h2>
<form action="/api/sessions/change_password" method="POST">
<label for="passowrd">New Password:</label>
  <input type="password" name="password" required />
  <input type="hidden"   name="userID" value={{userID}}>
  <button type="submit">Cambiar Contraseña</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   <script>
        document.addEventListener('DOMContentLoaded', function () {
            const errorMessage = '{{messages.error}}';
            if (errorMessage) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorMessage,
                });
            }
        });
    </script>