<div class="formContainer">
    <div class="login">
        <h2 class="h2title">Iniciar Sesión</h2>
<form class="loginForm" action="/api/sessions/login" method="POST">
    <label class="labelForm" for="email">Email:</label>
    <input class="inputForm" type="email" name="email" required>
    <label class="labelForm" for="password">Contraseña:</label>
    <input class="inputForm" type="password" name="password" required>
    <button  class="btnForm" type="submit">Ingresar</button>
</form>
<div>
     <a href="/api/sessions/github"><button class="btnForm" >Entrar con Github</button></a>
</div>
<a href="/register">Registrarse</a>
<a href="/reset_password">Recuperar Contraseña</a>

</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   <script>
        document.addEventListener('DOMContentLoaded', function () {
            const errorMessage = '{{messages.error}}';
            const successMessage = '{{messages.success}}';
            if (errorMessage) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorMessage,
                });
            }
            if (successMessage) {
                Swal.fire({
                    icon: 'success',
                    title: 'Exito',
                    text: successMessage,
                });
            }
        });
    </script>