<h2>Recuperear Contraseña</h2>
<form action="/api/sessions/reset_password" method="POST">
  <label for="email">Email:</label>
  <input type="email" name="email" required />

  <button type="submit">Recuperar Contraseña</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   <script>
        document.addEventListener('DOMContentLoaded', function () {
            const errorMessage = '{{messages.error}}';
            if (errorMessage) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorMessage,
                });
            }
        });
    </script>
