/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.categories {
    margin-bottom: 20px;
}

.categories p {
    display: inline-block;
    margin-right: 10px;
}

.table_display {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table_display th, .table_display td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table_display th {
    background-color: #f2f2f2;
}

.table_display td {
    vertical-align: top;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #0056b3;
}

.add-to-cart {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #218838;
}



a {
    color: #007bff; 
    text-decoration: none; 
}

a:hover,
a:focus {
    color: #dc3545; 
}
