/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 10px;
  padding: 0;
}

.userInfo {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userInfo a {
  text-decoration: none;
  color: rgb(30, 33, 34);
}

.userInfo .user p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.userInfo .botones {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.userInfo .botones button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #929aa2;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.userInfo .botones button:hover {
  color: white;
  background-color: #63696f;
}

h1 {
  margin-bottom: 20px;
}

/* Estilos generales para las categorías */
.categories {
  padding: 30px;
  border-radius: 8px;
}

.categories p {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
}

/* Estilos para los enlaces dentro de las categorías */
.categories a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: rgb(160, 153, 153);
  border-radius: 4px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.categories a:hover {
  background-color: #38352d;
  color: #fff;
}

.categories a:active {
  background-color: #b30000;
  color: #b41919;
}

.table_display {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.table_display th,
.table_display td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table_display th {
  background-color: #f2f2f2;
}

.table_display td {
  vertical-align: top;
}

.pagination {
  margin-top: 20px;
}

.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: rgb(160, 153, 153);
  color: #000000;
  border-radius: 5px;
  border: 1px solid black;
}

.pagination a:hover {
  background-color: #38352d;
  color: #ffffff;
}

.add-to-cart {
  background-color: rgb(160, 153, 153);
  color: #000000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}

.add-to-cart:hover {
  background-color: #38352d;
  color: #fff;
}

.cartContent{
  margin-top:100px;
}

#purchaseForm,.createProduct{
  margin:10px;
  text-align: right;
}

.buttonActions a{
  text-decoration: none;
}


/* Logger Test */

.loggerContainer{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.loggerButtons{
 display: flex;
 justify-content: space-between;
}

.loggerButtons button {
  width: 100px;
  border: 1px black solid;
  transition: all 0.3s ease-in-out;
  color: white;
  border-radius: 5px;
}

.loggerButtons button:hover {
  width: 110px;
  border: 1px black solid;
}

.btn-debug {
  background-color: black;
}

.btn-info {
  background-color: blue;
}

.btn-warning {
  background-color: yellow;
  color: black;
}

.btn-error {
  background-color: red;
}

.btn-fatal {
  background-color: magenta;
}

.btn-debug:hover {
  background-color: #333;
}

.btn-info:hover {
  background-color: #0056b3;
}

.btn-warning:hover {
  background-color: #ffc107;
}

.btn-error:hover {
  background-color: #c82333;
}

.btn-fatal:hover {
  background-color: #e83e8c;
}

.userForm,.usersTable{
  margin-top:100px;
}


/* Estilos básicos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/**Stripe css*/

#payment-form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.hidden {
  display: none;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
#payment-form button {
  background: #0055DE;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
#payment-form button:hover {
  filter: contrast(115%);
}
#payment-form button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #0055DE;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #0055DE;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

/* dynamic payment methods annotation */
#dpm-annotation {
  align-self: center;
  color: #353A44;
  width: 30vw;
  min-width: 500px;
  line-height: 20px;
  margin-bottom: 20px;
}

#dpm-integration-checker {
  display: inline;
  color: #533AFD;
}

/* Payment status page */
#payment-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  width: 30vw;
  min-width: 500px;
  min-height: 380px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
}

#status-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

h2 {
  margin: 0;
  color: #30313D;
  text-align: center;
}

#payment-element a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, sans-serif;
  display: block;
}
#payment-element a:hover {
  filter: contrast(120%);
}

#details-table {
  overflow-x: auto;
  width: 100%;
}

#payment-element table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}
#payment-element table tbody tr:first-child td {
  border-top: 1px solid #E6E6E6; /* Top border */
  padding-top: 10px;
}
#payment-element table tbody tr:last-child td {
  border-bottom: 1px solid #E6E6E6; /* Bottom border */
}
#payment-element td {
  padding-bottom: 10px;
}

.TableContent {
  text-align: right;
  color: #6D6E78;
}

.TableLabel {
  font-weight: 600;
  color: #30313D;
}

#view-details {
  color: #0055DE;
}

#retry-button {
  text-align: center;
  background: #0055DE;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fadeInAnimation {
  to {
      opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  form, #dpm-annotation, #payment-status{
    width: 80vw;
    min-width: initial;
  }
}
